<div class="top-bar">
    <!-- logo -->
    <div class="logo">
        <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
        <h1 class="logo__title">grocerymart</h1>
    </div>

    <!-- navbar -->
     <nav class="navbar">
        <ul>
            <li>
                <a href="" class="navbar__link">Departments</a>
            </li>
            <li>
                <a href="" class="navbar__link">Grocery</a>
            </li>
            <li>
                <a href="" class="navbar__link">Beauty</a>
            </li>
        </ul>
     </nav>
</div>