@use "../abstracts";

// filter btn
.filter-btn {
    @extend %flexItemCenter;
    gap: 14px;

    color: #6c6c72;

    /* Bold 14 */
    font-family: Gordita;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
}
