@use "../abstracts";

// filter btn
.filter-btn {
    @extend %flexItemCenter;
    gap: 14px;

    height: 36px;

    color: #6c6c72;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%; /* 2rem */
}
