.cate-item {
    display: flex;
    padding: 20px 26px;
    border-radius: 16px;
    background: var(--cate-item-bg);
    &__thumb {
        ư1
    }

    &__info {
    }
    &__title {
    }
    &__desc {
    }
}
