.cate-item {
    display: flex;
    padding: 20px 26px;
    border-radius: 16px;
    background: var(--cate-item-bg);
    &__thumb {
        height: 166px;
        width: 166px;
        border-radius: 8px;
        object-fit: contain;
        background: var(--cate-item-thumb-bg);
    }

    &__info {
        //
    }
    &__title {
        //
    }
    &__desc {
        //
    }
}
