@use "../abstracts";

.filter-wrap {
    position: relative;
}

.filter {
    position: absolute;
    right: 0;
    top: 50px;
    background: #fff;
    drop-shadow: 0 40px 90px var(--filte) rgba(200, 200, 200, 0.4);
}
