.slideshow {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;b
    }

    &__item {
        //
    }

    &__img {
    }

    &__page {
        //
    }

    &__num {
        //
    }

    &__slider {
        //
    }
}
