.slideshow {
    &__inner {
        display: flex;
    }

    &__item {
        //
        flex-shrink: 0;
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__page {
        //
    }

    &__num {
        //
    }

    &__slider {
        //
    }
}
