.slideshow {
    // margin: 40px 0;
    position: relative;
    margin: 4rem 0;

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__item {
        flex-shrink: 0;
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__page {
        position: absolute;
        bottom: 50px;
        left: 50px;

        display: flex;
    }

    &__num {
        color: var(--Secondary-Color-Background, #fff);
        font-feature-settings:
            "liga" off,
            "clig" off;

        /* Medium 18 */
        font-family: Gordita;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.6rem; /* 144.444% */
    }

    &__slider {
        //
    }
}
