/* Error: Missing argument $key.
 *    ,--> scss\theme\_dark.scss
 * 13 |     @include abstracts.breakpoint() {
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> scss\abstracts\_mixins.scss
 * 10 | @mixin breakpoint($key) {
 *    |        ================ declaration
 *    '
 *   scss\theme\_dark.scss 13:5  breakpoint()
 *   scss\theme\_dark.scss 13:5  @forward
 *   scss\theme\_index.scss 1:1  @use
 *   scss\main.scss 2:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $key.\a    \250c \2500 \2500 > scss\\theme\\_dark.scss\a 13 \2502      @include abstracts.breakpoint() {\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > scss\\abstracts\\_mixins.scss\a 10 \2502  @mixin breakpoint($key) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   scss\\theme\\_dark.scss 13:5  breakpoint()\a   scss\\theme\\_dark.scss 13:5  @forward\a   scss\\theme\\_index.scss 1:1  @use\a   scss\\main.scss 2:1          root stylesheet";
}
