<footer>
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col">
                <!-- Footer column 1 -->
                <h3 class="footer__heading">Shop</h3>
                <ul class="footer__list">
                    <li class="footer_item">
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">TV & Video</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Wearable Technology</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Computers</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Savings</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Cell Phones</a>
                    </li>
                </ul>

                <!-- Footer column 2 -->
                <h3 class="footer__heading">Support</h3>
                <ul class="footer__list">
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Store locator</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Order status</a>
                    </li>
                </ul>

                <!-- Footer column e -->
                <h3 class="footer__heading">Company</h3>
                <ul class="footer__list">
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Custom Service</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Terms of Us</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Bakery & Bread</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Frozen</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Snacks</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Candy</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Cocktails & Mixes Coffee</a>
                    </li>
                    <li class="footer_item">
                        <a href="#!" class="footer__link">Beverages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>