@use "../abstracts";

.auth {
    min-height: 100vh;
    display: flex;

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;

        @extend %flexColumnCenter2;
        gap: 50px;

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }
        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%; /* 2.6rem */
        }
    }

    &__content {
        background: var(--auth-content-bg);
        @include abstracts.screen(md) {
            &.hide {}
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
        }

        &-inner {
            @extend %flexColumnCenter2;
            text-align: center;

            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;
        }
    }

    &__heading {
        margin-top: 5rem;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%; /* 4.4rem */
    }

    &__desc {
        margin-top: 1rem;
        padding: 0 30px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%; /* 2.2rem */
    }

    &__form {
        width: 100%;
        margin-top: 30px;
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%; /* 2.2rem */
    }

    &__btn-group {
        @extend %flexColumn;
        gap: 30px;
        margin-top: 50px;
    }

    &__btn {
        width: 100%;
    }

    &__text {
        // margin-top: 108px;
        margin-top: 10.8rem;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%; /* 2.6rem */
    }
}
