@use "../abstracts";

.auth {
    min-height: 100vh;
    display: flex;

    &__intro,
    &__content {
        flex: 1;
    }

    &__intro {
        @extend %flexColumnCenter2;
        gap: 50px;

        &-img {
            //
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%; /* 2.6rem */
        }
    }

    &__content {
        background: var(--auth-content-bg);

        &-inner {
            @extend %flexColumnCenter2;
            text-align: center;

            width: min(460px, 100%);
            margin: 0 auto;
        }
    }

    &__heading {
        margin-top: 5rem;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%; /* 4.4rem */
    }

    &__desc {
        margin-top: 1rem;
        color: var(--Secondary-Color-Secondary-2, #9E9DA8);
text-align: center;

/* Medium 15 */
font-family: Gordita;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 2.2rem; /* 146.667% */
    }

    &__form {
        //
    }

    &__link {
        //
    }

    &__btn-group {
        //
    }
}

.form {
    //
    &__group {
        //
        &--inline {
            //
        }
    }

    &__text-input {
        //
    }

    &__input {
        //
        &-icon {
            //
        }
    }

    &__checkbox {
        //
        &-input {
            //
        }

        &-label {
            //
        }
    }
}
